*.tar.gz
*.zip
*.rpm
*.classes
*.class
*.settings
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log.*
*.log
*.sig
*.o
*.obj
*.so
*.iml

/lib/*
/out/*
/bin/*
/gen/*
/output/*
/cache/*
/classes/*
/dist/*
/target/*
/.idea/*
