*.deb
*.tar.gz
*.zip
*.rpm
*.classes
*.class
*.settings
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log.*
*.log
*.sig
*.o
*.obj
*.so
*.iml

#やっぱりログは管理しないことにした
#その場限りでしかビルド用に参照しないから
log

#.gitフォルダ配下全て除外
/.git/*

/lib/*
/out/*
/bin/*
/gen/*
/output/*
/cache/*
/classes/*
/dist/*
/target/*
/.idea/*

#ibm個別対応
/backup/*
/config/*
/data/*
/logs/*
