XTerm*locale : true
XTerm*selectToClipboard : true
XTerm*faceName : 'Monospace'
XTerm*forcePackedFont : false
XTerm*faceSize : 12
XTerm*saveLines : 2000
XTerm*cjkWidth : true
XTerm*rightScrollBar : true
XTerm*scrollBar : true
xterm*faceName: MigMix 1M
*background: #292929
*foreground: #ffffff
*color0: #333333
*color1: #A94952
*color2: #83A949
*color3: #A99F49
*color4: #4983A9
*color5: #A94983
*color6: #49A99F
*color7: #AAAAAA
*color8: #666666
*color9: #ED6975
*color10: #B8ED69
*color11: #EDE169
*color12: #69B8ED
*color13: #ED69B8
*color14: #69EDE1
*color15: #CCCCCC
